<launch>
  <param name="use_sim_time" value="false" />

  <!-- Start the ArbotiX controller -->
  <include file="$(find rm4_bringup)/launch/fake_rm4_arbotix.launch" />
  
  <node pkg="map_server" type="map_server" name="map_server" args="$(find rm4_nav)/maps/surveil.yaml"/>

  <!-- The move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" clear_params="true" output="screen">
    <rosparam file="$(find rm4_nav)/config/fake/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rm4_nav)/config/fake/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rm4_nav)/config/fake/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rm4_nav)/config/fake/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rm4_nav)/config/fake/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find rm4_nav)/config/nav_test_params.yaml" command="load" />
  </node>

  <node pkg="fake_localization" type="fake_localization" name="fake_localization" clear_params="true" output="screen">
       <node pkg="fake_localization" type="fake_localization" name="fake_localization" clear_params="true" output="screen">
     <remap from="base_pose_ground_truth" to="odom" />
     <param name="global_frame_id" value="map" />
     <param name="base_frame_id" value="base_footprint" />
  </node>

  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find rm4_nav)/rviz/nav.rviz"/ -->
</launch>

